
header{
  background-color: #c99190;
  color: #e4ccc0;
}
.info{
  background-color: #caa3a2;
  color: #e4ccc0;
  text-align: center;
}

h3{
  background-color: #caa3a2;
  color: #e4ccc0;
  text-align: center;
}

.centered{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
